
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'),local('OpenSans-Light'),url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'),local('OpenSans'),url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'),local('OpenSans-Bold'),url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

$font-awesome: 'FontAwesome';
$open-sans: 'Open Sans', Arial, Helvetica, sans-serif;

$white: #fff;
$black: #000;

$text: #3B1E77;

$link: #3B1E77;
$link-hover: #f7944d;

$middle: #999;

$dark: rgba(59,30,119, 1);
$dark-alpha-null: rgba(59,30,119, 0);
$dark-alpha: rgba(59,30,119, 0.25);
$dark-alpha-md: rgba(59,30,119, 0.5);
$dark-alpha-lg: rgba(59,30,119, 0.7);
$dark-alpha-xlg: rgba(59,30,119, 0.8);

$light: rgba(255,255,255, 1);
$light-alpha-null: rgba(255,255,255, 0);
$light-alpha: rgba(255,255,255, 0.35);
$light-alpha-md: rgba(255,255,255, 0.5);
$light-alpha-lg: rgba(255,255,255, 0.7);
$light-alpha-xlg: rgba(255,255,255, 0.8);

$none: none;
$all: all 300ms ease-out;
$bgColor: background-color 300ms ease-out;
$color: color 300ms ease-out;

@mixin bg-size($bgsize) {
    -webkit-background-size: $bgsize;
    -moz-background-size: $bgsize;
    -o-background-size: $bgsize;
    background-size: $bgsize;
}

@mixin box-size($boxsize) {
    -webkit-box-sizing: $boxsize;
    -moz-box-sizing: $boxsize;
    -o-box-sizing: $boxsize;
    box-sizing: $boxsize;
}

@mixin box-shadow($boxshadow) {
    -moz-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

@mixin text-shadow($textshadow) {
    -moz-text-shadow: $textshadow;
    -webkit-text-shadow: $textshadow;
    -o-text-shadow: $textshadow;
    text-shadow: $textshadow;
}

@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin backface-visibililty($backface) {
    -moz-backface-visibility: $backface;
    -webkit-backface-visibility: $backface;
    backface-visibility: $backface;
}
